<template>
  <canvas id="canvas"></canvas>
</template>

<script>
let PIXI;
if (process.client) {
  PIXI = require("pixi.js");
  // console.log(PIXI);
}

export default {
  mounted() {
    const app = new PIXI.Application({
      width: 700,
      height: 700,
      view: document.getElementById("canvas"),
      resolution: window.devicePixelRatio || 1,
      autoResize: true,
      backgroundColor: 0x365a7c
    });
  }
};
</script>